/*Estilos Generales*/
/* * {
    outline: dotted 1px red;
} */
body {
    font-family: Helvetica, Arial, Open Sans, sans-serif;
    font-size: 14px;
    color: #333;
    margin: 0;
}

a {
    text-decoration: none;
    color: #fff;
}
/*Estilos Particulares*/
header {
    background-color: #333;
    overflow: hidden;
    padding: 15px;
}
header h1 {
	background-image: url("../img/logo.png");
	background-repeat: no-repeat;
	background-position: left center;
	line-height: 1.5;
	padding-left: 75px;
    color: #fff;
	float: left;
	font-weight: 700;
	font-size: 28px;
}
header nav {
    float: right;
    padding: 10px;
}
header nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
header nav ul li {
    display: inline-block;
}
header nav a {
    text-align: center;
    width: 65px;
    padding: 5px;
}
header nav a:hover {
    color: #333;
    background-color: #fff;
}
#noticias-destacadas img {
	width: 100%;
	display: block;
}
#noticias-destacadas figcaption {
	background-color: #333;
	padding: 15px;
}
#noticias-destacadas h2 {
	color: #fff;
	font-size: 36px;
	font-weight: 700;
}


.noticia {
	display: flex;
	flex-direction: row; /* ------- row | column | row-reverse | column-reverse ---------   */
	align-items: center;  /* ------- ---------   */
	justify-content: space-around; /* ------- flex-start | center | flex-end | space-between | space-around   ---------   */ 
	border-bottom: 1px solid #ccc;
	margin-left: 20px;
	margin-right: 20px;
}
.noticia:last-child {
	border-bottom: none;
}
.noticia-img {
	width: 25%;
}
.noticia-img img {
	width: 100%;
}
.noticia-txt {
	width: 65%;
}
.noticia-txt h3 {
	font-weight: 700;
	font-size: 28px;
	margin-top: 15px;
	margin-bottom: 15px;
}
.noticia-txt p {
	font-size: 20px;
	margin-top: 15px;
	margin-bottom: 15px;
}

.noticia-txt a {
	color: #000;
}
.noticia-txt a:hover {
	color: #333;
}

footer {
	background-color: #333;
	padding: 15px;
}
footer p {
	color: #fff;
	font-size: 12px;
	text-align: center;
}

#tabla-posiciones {
	padding: 15px 0;
}
#tabla-posiciones table {
	margin: auto;
	width: 45%;
}
#tabla-posiciones th {
	background-color: #e74c3c;
	color: #fff;
	font-size: 20px;
	font-weight: 700;
	padding: 10px;
}
#tabla-posiciones td {
	padding: 10px;
	vertical-align: middle;
}
#tabla-posiciones td:nth-of-type(odd) {    /* even => par, odd =>impar */
	font-size: 24px;
	font-weight: 700;
	text-align: center;	
}
#tabla-posiciones tr {
	background-color: #eee;
	border-bottom: 1px solid #ccc;
}
#tabla-posiciones tr:last-child {
	border: none;
}

#tabla-posiciones td:nth-of-type(even) span {
	color: #006a83;
	font-weight: 700;
}